@import './assets/navbar.scss';
@import './assets/main_body.scss';

.background-layout{
  display: flex;
}

.page-layout {
  margin: 0;
  margin-top: 20px;
  display: flex;
  /* flex-direction: row; */
}